@model ShortenModel

@{
    Layout = "_Layout";
}

<div class="h-12 flex items-stretch">
    <div class="container mx-auto flex items-center"><p class="font-bold font-italic">UrlShortener</p></div>
</div>

<div class="container flex mx-auto justify-center p-8 mt-8">
    <p class="text-4xl font-semibold">Shorten your URL!</p>
</div>

<div class="flex container mx-auto justify-center mt-8">
    <form class="flex" asp-controller="Url" asp-action="Shorten" method="POST">
        @if (ViewData.ModelState.IsValid) {
            <input class="bg-gray-200 rounded-l-lg text-2xl py-4 px-8 hover:bg-gray-300 active:bg-gray-300 outline-none" asp-for="Url" type="text" placeholder="Enter your link here" autocomplete="off"/>
        } else {
            <input class="bg-red-200 text-red-700 rounded-l-lg text-2xl py-4 px-8 hover:bg-red-300 outline-none" asp-for="Url" type="text" placeholder="Enter your link here" autocomplete="off"/>
        }
        <button type="submit" class="text-2xl bg-blue-500 hover:bg-blue-700 text-white font-semibold py-4 px-8 rounded-r-lg">Shorten</button>
    </form>
</div>